.user-profile-container {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px solid rgb(118, 139, 94); */
  /* background-color: rgb(240, 238, 236, 0.8); */
  /* border: 1px solid rgba(240, 238, 236, 1); */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  padding: 1.2rem;
  margin-bottom: 1.3rem;
}

.user-profile-box {
  display: flex;
  gap: 0.5rem;
}

.user-profile-icon {
  color: rgb(65, 80, 63);
  font-size: 3.5rem !important;
}

.user-profile-box span {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(65, 80, 63);
}

.profile-today-text {
  margin-top: 1.3rem;
  font-size: 0.9rem;
  color: rgb(65, 80, 63);
}
