.login-page-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-page-content {
  margin-top: 12rem;
  margin-bottom: 15rem;
}

.login-page-icon {
  color: rgb(118, 139, 94);
  font-size: 3rem;
  border: 2px solid rgb(118, 139, 94);
  border-radius: 5rem;
  padding: 1rem;
}
