.add-medication-form-section {
  padding-top: 3.85rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-medication-form-section h2 {
  color: rgb(39, 50, 42);
}

.add-medicine-form-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /*padding-bottom: 5px;*/
  /* border: 1px solid #aaa; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  border-radius: 0.8rem;
  padding: 1rem;
  width: 80%;
}

.add-medication-form-section h2 {
  margin: 0.5rem;
}

.add-medication-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
  gap: 1rem;
}

.add-medication-input input {
  border: none;
  background: none;
  border-bottom: 1px solid #5e5e5e;
  width: 12rem;
  height: 2rem;
  text-align: center;
}

.add-medication-input input::placeholder {
  text-align: center;
  color: #aaaaaa;
}

/* .add-medication-input input:focus {
  outline: none;
} */

.add-medication-input button {
  background-color: #86b07d;
  font-weight: bold;
  color: white;
  font-weight: bold;
  display: block;
  margin-left: auto;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem;
  width: 4rem;
  cursor: pointer;
}

.add-medication-input button:active {
  background-color: rgb(118, 139, 94);
}

button.get-back-btn {
  border: none;
  border-radius: 1rem;
  width: 4.5rem;
  font-size: 0.8rem;
  height: 1.8rem;
  color: #7a7a7a;
  font-weight: bold;
  background-color: #dadada;
  margin: 0.5rem;
}
