.medicine-search-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.8rem;
  border-bottom: 1px solid #ccc;
}

.medicine-list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.medicine-search-list img {
  width: 40%;
  border-radius: 0.8rem;
  margin-bottom: 0.3rem;
}

.medicine-search-list p {
  color: rgb(65, 80, 63);
  font-size: 0.9rem;
  font-weight: bold;
}

.medicine-save-btn {
  border: none;
  background-color: #86b07d;
  color: white;
  border-radius: 0.8rem;
  margin: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  width: 4rem;
  height: 2.1rem;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.medicine-save-btn:active {
  background-color: rgb(118, 139, 94);
}

.medicine-search-list label {
  display: flex;
  align-items: center;
  user-select: none;
}

.medicine-search-list span {
  margin-left: 0.25rem;
  color: rgb(65, 80, 63);
}

.medicine-search-list input {
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid rgb(118, 139, 94);
  border-radius: 0.3rem;
}

.medicine-search-list input:checked {
  border-color: transparent;
  background-color: rgb(118, 139, 94);
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.search-medicine-result {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
